/*
  Simple CSS navigation bar with fading inactive links
*/

@import url(https://fonts.googleapis.com/css?family=Lato:300,500);

/*
  pad the body and set default font styles
*/
body {
 padding: 25px; 
 font: 300 16px/1.2 Lato;
}

/*
  navigation
*/
.nav {
  list-style: none;
}

/*
  nav list items
  1. side by side
  2. needed for circle positioning
*/
.nav li {
  float: left; /*1*/
}

/*
  nav link items
*/
.nav > li a {
  display: block; /*1*/
  padding: 12px 18px; /*2*/
  text-decoration: none; /*3*/
  color: #999; /*4*/
  border-bottom: 1px solid #eee;
  transition: all ease .5s;
}

/*
  fade out all links on ul hover
*/
.nav:hover > li a {
  opacity: .5;
  transition: all ease .5s;
}

/*
  override previous rule to highlight current link
*/
.nav > li:hover a {
  opacity: 1;
  color: #E74C3C;
  border-color: #E74C3C;
}
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
